@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

:root {
	--light: oldlace;
	--dark: rgb(110, 110, 110);
	--text: #5b3e29;
	--primaryheading: saddlebrown;
}

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	color: var(--text);

	font-family: 'Poppins', sans-serif;
}
