@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

:root {
	--light: white;
	--dark: #2b2b2b;
	--textLight: #2b2b2b;
	--textDark: #dadada;
	--headingLight: #274c77;
	--headingDark: #8fb0d1;
}

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	color: var(--text-color);
	background-color: var(--background-color);

	h2 {
		color: var(--heading-color);
	}

	h1 {
		color: var(--heading-color);
	}

	// &.light {
	// 	--primary: black;
	// 	--secondary: white;
	// }
	// &.dark {
	// 	--primary: white;
	// 	--secondary: black;
	// }
	font-family: 'Poppins', sans-serif;
}

body.light {
	--background-color: var(--light);
	--text-color: var(--textLight);
	--heading-color: var(--headingLight);
}

body.dark {
	--background-color: var(--dark);
	--text-color: var(--textDark);
	--heading-color: var(--headingDark);
}

@media only screen and (min-width: 1430px) {
	html {
		font-size: 16px;
	}
}

@media only screen and (max-width: 1429px) {
	html {
		font-size: 12px;
	}
}

@media only screen and (max-width: 1110px) {
	html {
		font-size: 10px;
	}
}
